.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
#!dist/bundle.js
src/main/webapp/dist/js/*.js
#!src/main/webapp/dist/jsbundle.js
#!src/main/webapp/dist/jslogin.js

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

###
node_modules/
out
/lib
*.log

*.map
/classes
rebel.xml
src/main/webapp/dist