spring:
  profiles:
    active: local

---

spring:
  profiles: local
  datasource:
    url: jdbc:mysql://localhost:3306/bk_db?useSSL=false&characterEncoding=utf8
    username: test
    password: test!@#
    driver-class-name: com.mysql.jdbc.Driver
  devtools:
    livereload:
      enabled: true

mybatis:
  mapper-locations: classpath:mapper/**/*.xml

server:
  port: 8080