<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <property name="LOG_FILE_APPLICATION" value="${bkjeon.base.logs:-logs}/application.log" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE_APPLICATION}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_APPLICATION}.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <springProfile name="local">
        <logger name="com.example.bkjeon" level="debug"/>
        <logger name="org.springframework.web" level="debug"/>
        <logger name="org.springframework.data" level="debug"/>

        <logger name="jdbc" level="OFF"/>
        <logger name="jdbc.connection" level="OFF"/>
        <logger name="jdbc.sqlonly" level="DEBUG"/>
        <logger name="jdbc.sqltiming" level="DEBUG"/>
        <logger name="jdbc.audit" level="OFF"/>
        <logger name="jdbc.resultset" level="OFF"/>
        <logger name="jdbc.resultsettable" level="OFF"/>

        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <logger name="com.example.bkjeon" level="debug"/>
        <logger name="org.springframework.web" level="debug"/>
        <logger name="org.springframework.data" level="debug"/>

        <logger name="jdbc" level="OFF"/>
        <logger name="jdbc.connection" level="OFF"/>
        <logger name="jdbc.sqlonly" level="DEBUG"/>
        <logger name="jdbc.sqltiming" level="DEBUG"/>
        <logger name="jdbc.audit" level="OFF"/>
        <logger name="jdbc.resultset" level="OFF"/>
        <logger name="jdbc.resultsettable" level="OFF"/>

        <root level="info">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="production">
        <logger name="com.example.bkjeon" level="info"/>
        <logger name="org.springframework.web" level="info"/>
        <logger name="org.springframework.data" level="info"/>
        <root level="info">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>
