<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bkjeon.member.mapper.UserRoleMapper">

    <resultMap id="UserRole" type="com.bkjeon.member.entity.UserRole">
        <result property="userId" column="user_id" />
        <result property="roleId" column="role_id" />
    </resultMap>

    <insert id="setUserRoleInfo" parameterType="map">
        INSERT INTO user_role
        (
            user_id, role_id
        )
        VALUES
        (
            #{param.userId}, #{param.roleId}
        );
    </insert>

</mapper>