spring:
  profiles:
    active: local

# Local Env
---

spring:
  profiles: local
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL;DB_CLOSE_DELAY=-1
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true

server:
  port: 8080
