.ant-layout-header {
  background: #dbdbdb;
  padding: 0 0;
  height: 100px;
  line-height: 64px;
}

.logo_wrap {
  width: 100%;
  height: 100%;
  text-align: left;
}

.logo img{
  with: 104px;
  height: 64px;
}

.user_info {
  width: 100%;
  height: 100%;
  color: ghostwhite;
  text-align: right;

}
