<?xml version="1.0" encoding="UTF-8"?>
<included>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <property name="LOG_FILE_APPLICATION" value="${sample.base.logs:-logs}/application.log" />
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
    <file>${LOG_FILE_APPLICATION}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_FILE_APPLICATION}.%d{yyyyMMdd}</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>
</included>
