spring:
  profiles:
    active: local-h2

server:
  port: 9090
  servlet:
    context-path: /api

jwt:
  header: Authorization
  # HS512 알고리즘을 사용할 것이기 때문에 512bit, 즉 64byte 이상의 secret key를 사용해야 한다.
  # echo 'bkjeon-java-example-spring-boot-jpa-codebase-secret-bkjeon-java-example-spring-boot-jpa-codebase-secret' | base64
  secret: YmtqZW9uLWphdmEtZXhhbXBsZS1zcHJpbmctYm9vdC1qcGEtY29kZWJhc2Utc2VjcmV0LWJramVvbi1qYXZhLWV4YW1wbGUtc3ByaW5nLWJvb3QtanBhLWNvZGViYXNlLXNlY3JldA==
  token-validity-in-seconds: 86400

springdoc:
  swagger-ui:
    path: /api/swagger-ui.html

# Local Env (H2 DB)
---

spring:
  profiles: local-h2
  datasource:
    jdbcUrl: jdbc:h2:mem:testdb
    username: sa
    driverClassName: org.h2.Driver
    data: classpath:sql/data-h2.sql
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
  h2:
    console:
      enabled: true

decorator:
  datasource:
    p6spy:
      enable-logging: true

# Dev Env (Mysql DB)
---

spring:
  profiles: local-db
  datasource:
    jdbcUrl: jdbc:mysql://127.0.0.1:3306/bkjeon_jpa?socketTimeout=30000&connectTimeout=30000&serverTimezone=Asia/Seoul&useUnicode=yes&characterEncoding=utf8
    username: bkjeon
    password: wjsqhdrms
    driverClassName: com.mysql.cj.jdbc.Driver
    data: classpath:sql/data-h2.sql
    initialization-mode: always
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: create-drop

decorator:
  datasource:
    p6spy:
      enable-logging: true

# Dev Env
---

spring:
  profiles: dev
  datasource:
    jdbcUrl: jdbc:mysql://127.0.0.1:3306/bkjeon?socketTimeout=30000&connectTimeout=30000&serverTimezone=Asia/Seoul&useUnicode=yes&characterEncoding=utf8
    username: bkjeon
    password: wjsqhdrms
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: validate

# Production Env
---

spring:
  profiles: prod
  datasource:
    jdbcUrl: jdbc:mysql://127.0.0.1:3306/bkjeon?socketTimeout=30000&connectTimeout=30000&serverTimezone=Asia/Seoul&useUnicode=yes&characterEncoding=utf8
    username: bkjeon
    password: wjsqhdrms
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: validate
